<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-buttons>
            <ion-button (click) ="regresar()" color = "primary">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="11">
          <ion-title>Registrate</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup] = "form">
 <ion-grid>
   <ion-row>
     <ion-col>
      <ion-item id="input-item">
        <ion-label position="floating">
          Nombre Completo
        </ion-label>
        <ion-input type="text" autocomplete autocorrect placeholder="Nombre, Apellidos..." formControlName="nombreCompleto"></ion-input>
      </ion-item>
     </ion-col>
   </ion-row>
   <ion-row>
    <ion-col>
     <ion-item id="input-item">
       <ion-label position="floating">
         Telefono
       </ion-label>
       <ion-input type="number" autocomplete autocorrect placeholder="00000000" formControlName="numeroTel"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
     <ion-item id="input-item">
       <ion-label position="floating">
         Correo Electronico
       </ion-label>
       <ion-input type="email" autocomplete autocorrect placeholder="ejemplo@ejemplo.com" formControlName="email"></ion-input>
      </ion-item>
      <p *ngIf= "errorControl === 1" id="alerta-texto">Este correo electronico ya esta en uso.</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
     <ion-item id="input-item">
       <ion-label position="floating">
         Constraseña
       </ion-label>
       <ion-input type="password" autocomplete autocorrect placeholder="Mínimo 8 Caracteres" formControlName="contrasena"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
     <ion-item id="input-item">
       <ion-label position="floating">
         Confirmar Constraseña
       </ion-label>
       <ion-input type="password" autocomplete autocorrect placeholder="Confirmar Contraseña" formControlName="contrasenaConfirmada"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="text-align:center;">
      <ion-button id="boton-registrar" color="secondary" (click)= "nuevoUsuario()" >Registrarse!</ion-button>
    </ion-col>
  </ion-row>
  <p id="texto-pie"> Todos los derechos reservados.</p>
 </ion-grid>
</form>
</ion-content>
