<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="tabs/tab1/lista"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf= " rol === 'admin' ">Estado: {{ habitacion.estado }}</ion-title>
    <ion-title *ngIf= " rol !== 'admin' ">Habitación</ion-title>
    <ion-buttons id="editar" slot="end">
      <ion-button *ngIf= " rol === 'admin'" fill="outline" size="small" color="primary" [routerLink]="['./editar']">Editar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="habitacion.imagen"></ion-img>
  <ion-item>
    <ion-label class="title">Numero de habitación:</ion-label>
    <p>{{ habitacion.numeroHabitacion }}</p>
  </ion-item>
  <ion-item>
    <ion-label class="title">Ubicación:</ion-label>
    <p>{{ habitacion.ubicacion }}</p>
  </ion-item>
  <ion-item>
    <ion-label class="title">Tipo de Habitación:</ion-label>
    <p>{{ habitacion.tipo }}</p>
  </ion-item>
  <ion-item>
    <ion-label class="title">Precio por noche:</ion-label>
    <p>${{ habitacion.precioXNoche }} /noche</p>
  </ion-item>
  <ion-button class="buscar" expand="full" [routerLink]="['./reservacion']">Buscar fechas</ion-button>
</ion-content>
