<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Agregar Habitación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="funcionAgregar()">
        <ion-icon color="primary"name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Numero de Habitacion</ion-label>
            <ion-input type="number" autocomplete autocorrect placeholder="Digite el numero de habitacion" formControlName="numeroHabitacion"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Ubicacion</ion-label>
            <ion-select formControlName="ubicacion" placeholder="Elija una opcion">
              <ion-select-option value="Guanacaste">Guanacaste</ion-select-option>
              <ion-select-option value="Puntarenas">Puntarenas</ion-select-option>
              <ion-select-option value="Limon">Limón</ion-select-option>
              <ion-select-option value="San Jose">San José</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Tipo de habitacion</ion-label>
            <ion-select formControlName="tipo" placeholder="Elija una opcion">
              <ion-select-option value="Suite">Suite</ion-select-option>
              <ion-select-option value="Mediana">Mediana</ion-select-option>
              <ion-select-option value="Pequeña">Pequeña</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6">
          <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="number" autocomplete autocorrect formControlName="precioXNoche" placeholder="Monto en dolares"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6">
          <ion-item>
            <ion-label position="floating">Descripcion</ion-label>
            <ion-textarea maxlength="120" autoGrow="true" formControlName="descripcion" placeholder="Descripcion de la habitacion"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="form.status !== 'VALID' && form.get('')">
        <ion-col size-sm="6" offset-sm="3">
          <p>Todos los campos son requeridos</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
