ion-title{
  text-align: center;
}
.azul{
  border-left: 5px solid #3880ff;
  box-shadow: 1px 3px 10px 0px #3881ff3a;
}
.verde{
  border-left: 5px solid #2dd36f;
  box-shadow: 1px 3px 10px 0px #2dd36f3a;
}
.amarillo{
  border-left: 5px solid #ffc409;
  box-shadow: 1px 3px 10px 0px #ffc4093a;
}
.rojo{
  border-left: 5px solid #eb445a;
  box-shadow: 1px 3px 10px 0px #eb445a3a;
}
.fechas{
  color: rgb(34, 34, 34);
  margin-left: 13px;
  height: 20px;
}
h5{
  margin-top: 12px;
}
