<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div class="reservacion" *ngFor = "let reservacion of reservaciones">
      <div *ngFor= "let habitacion of habitaciones">
        <div *ngIf= "habitacion.id === reservacion.habitacion">
          <p>Habitacion: {{habitacion.id}}</p>
          <p>ReservacionHab: {{reservacion.habitacion}}</p>
          <p>idReservacion: {{reservacion.id}}</p>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>
