ion-title{
  text-align: center;
}
ion-card{
  border-left: 5px solid #3880ff;
  box-shadow: 1px 3px 10px 0px #3881ff3a;
}
p{
  margin-left: 10px;
}
.fechas{
  color: rgb(34, 34, 34);
  margin-left: 13px;
  height: 20px;
}
h5{
  margin-top: 12px;
}
