ion-searchbar{
  margin-top: 3%
}
ion-card-content{
  margin-top: 2%;
  text-align: left;
}
ion-img{
  width: auto;
  height: 200px;
}
p{
  margin-top: 9px;
}
.title{
  font-size: 25px;
  margin: 40px 20px 0px 25px;
}
