<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="outline" size="small" color="primary" [routerLink]="['./agregar']">Agregar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-buttons>
          <strong class="title">Ubicación</strong>
          <ion-button id="todos" fill="outline" size="small" color="primary" [routerLink]="['./lista']">Ver Todos</ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-slides pager="false">
          <ion-slide *ngFor =" let localidad of localidades">
            <ion-card [routerLink]= "['./' , localidad.nombre]">
              <ion-img src="{{localidad.imagen}}"></ion-img>
              <ion-card-header>
                <ion-card-title>{{localidad.nombre}}</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row>
      <strong class="title">Tipo</strong>
      <ion-col>
        <ion-slides pager="false">
          <ion-slide *ngFor =" let tipo of tipos">
            <ion-card [routerLink]= "['./' , tipo.tipo]">
              <ion-img src="{{tipo.imagen}}"></ion-img>
              <ion-card-header>
                <ion-card-title>{{tipo.tipo}}</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
