<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="outline" size="small" color="primary" [routerLink]="['./agregar']">Agregar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-buttons>
          <strong class="title">Ubicación</strong>
          <ion-button id="todos" fill="outline" size="small" color="primary" [routerLink]="['./lista']">Ver Todos</ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-slides pager="false">
          <ion-slide *ngFor =" let localidad of localidades">
            <ion-card>
              <ion-card-header>
                <ion-img src="{{localidad.imagen}}"></ion-img>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="4">
                      <p>{{localidad.nombre}}</p>
                    </ion-col>
                    <ion-col offset="4" size="3">
                      <ion-button fill="outline" size="small">Filtrar</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row>
      <strong class="title">Tipo</strong>
      <ion-col>
        <ion-slides pager="false">
          <ion-slide *ngFor =" let tipo of tipos">
            <ion-card>
              <ion-card-header>
                <ion-img src="{{tipo.imagen}}"></ion-img>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="4">
                      <p>{{tipo.tipo}}</p>
                    </ion-col>
                    <ion-col offset="4" size="3">
                      <ion-button fill="outline" size="small">Filtrar</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
