<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-title id="profile-title" *ngIf = "rol === ' '">
            Tu Perfil
          </ion-title>
          <ion-title id="profile-title" *ngIf= "rol === 'admin'">
            Administrador
          </ion-title>
          <ion-title id="profile-title-user" *ngIf= "rol === 'user'">
            {{username}}
          </ion-title>
        </ion-col>
        <ion-col size="3">
          <ion-avatar>
            <ion-img src="assets/images/default-user.png" id="user-logo"></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--Sin usuario logueado-->
  <ion-grid *ngIf = " rol === ' ' ">
    <ion-row>
      <ion-col size="12">
        Incia sesión y comienza a planificar donde hospedarte!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button id="sing-in-button" [routerLink] = "['./login-page']">Iniciar Sesión</ion-button>
        ¿No tienes cuenta?
        <ion-button id= "sign-up-button" color="secondary" [routerLink] = "['./register-page']">Regístrarse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p id="footer-text"> Todos los derechos reservados.</p>
<!--Con usuario logueado-->
  <ion-grid *ngIf= "rol === 'admin' || rol === 'user'  ">

  </ion-grid>
</ion-content>
