#logo-usuario{
  height: 50px;
  width: 50px;
  margin-top: 6px;
}
#titulo-perfil{
  margin-top: 10px;
  font-size: 24px;
  color: black;
}
ion-header,ion-toolbar{
  height: 80px;
}
ion-col{
  font-family: Arial, "Times New Roman";
  color: gray;
  font-size: 18px;
}
#boton-login, #boton-registrar{
  width: 100%;
  margin-bottom: 10px;
}
#boton-login{
  --ion-color-primary: -webkit-linear-gradient(to right, #2193b0, #6dd5ed);
  --ion-color-primary: linear-gradient(to right, #2193b0, #6dd5ed);
}
#boton-registrar{
  --ion-color-secondary: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  --ion-color-secondary: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}
#texto-pie-pag{
  text-align:center;
   font-size:15px;
   color: gray;
   margin-top: 50px;
}

#titulo-perfil-usuario{
  font-size: 17px;
  color: black;
  margin-top: 20px;
  text-align: center;
}
@media screen and (max-width: 320px) {
  #titulo-perfil{
    font-size: 18px;
  }
}

