<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-title id="profile-title" *ngIf = "rol === ' '">
            Tu Perfil
          </ion-title>
          <ion-title id="profile-title" *ngIf= "rol === 'admin'">
            Administrador
          </ion-title>
          <ion-title  id="profile-title-user"  *ngIf= "rol === 'user'">
            {{username}}
          </ion-title>
        </ion-col>
        <ion-col size="2">
          <ion-avatar>
            <ion-img src="assets/images/default-user.png" id="user-logo" *ngIf= " rol === 'admin' || rol === ' '"></ion-img>
            <ion-img *ngIf= " rol === 'user'" src="assets/images/user_logo{{img}}.PNG"  id="user-logo" ></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--Sin usuario logueado-->
  <ion-grid *ngIf = " rol === ' ' ">
    <ion-row>
      <ion-col size="12">
        Incia sesión y comienza a planificar donde hospedarte!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button id="sing-in-button" [routerLink] = "['./login-page']">Iniciar Sesión <ion-icon name="log-in-outline"></ion-icon></ion-button>
        ¿No tienes cuenta?
        <ion-button id= "sign-up-button" color= "secondary" [routerLink] = "['./register-page']">Regístrarse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

<!--Con usuario logueado-->
  <ion-grid *ngIf= "rol === 'admin' || rol === 'user'  ">
    <ion-row>
      <ion-col style="text-align:center;">
        Ya puedes comenzar a explorar!
        <ion-icon name="planet-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align:center;">
        <ion-title style="color:black">Informacion de la cuenta.</ion-title>
        <ion-card>
          <ion-card-header>
             <ion-card-title>Correo electronico: <u>{{user[0].email}}</u></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>Numero:</ion-col>
                <ion-col>{{phoneNumber}}</ion-col>
              </ion-row>
              <ion-row style="max-height: 90px; overflow: scroll;">
                <ion-col size="6">Nombre Completo:</ion-col>
                <ion-col size="6">{{username}}</ion-col>
              </ion-row>
              <!--Si tiene algun rol-->
              <ion-row *ngIf= "rol !== 'user' ">
                <ion-col>Rol: {{rol}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button color= "tertiary" (click) ="logOut()">
                    Cerrar Sesión <ion-icon name="log-out-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p id="footer-text"> Todos los derechos reservados.</p>
</ion-content>
