<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Lista de habitaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let habitacion of habitaciones" [routerLink] = "['./tabs/tab1']">
      <ion-avatar>
        <ion-img src="https://pbs.twimg.com/media/EUdGvyXWoAA8GiD.jpg"></ion-img>
      </ion-avatar>
      <ion-label>Numero: {{ habitacion.numeroHabitacion }} - {{ habitacion.tipo }} -  {{ habitacion.ubicacion }}</ion-label>
      <ion-icon color="primary" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
