<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Lista de habitaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="habitaciones[0] !== undefined">
    <ion-grid>
      <ion-row *ngFor="let habitacion of habitaciones">
        <ion-col>
          <!--Con usuario logueado o sin loguear-->
          <ion-card *ngIf= " rol !== 'admin' && habitacion.estado === 'Activo' " [routerLink] = "['../lista', habitacion.id]">
            <ion-img [src]="habitacion.imagen"></ion-img>
            <ion-card-header>
              <div>
                <h3>Habitación: {{ habitacion.numeroHabitacion }} <span id="precio">${{ habitacion.precioXNoche }} /noche</span></h3>
              </div>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <div>
                  {{ habitacion.descripcion }}
                </div>
                <ion-row>
                  <ion-col>
                    <span class="icono">
                      <div id="cantPersonas">
                        <ion-icon slot="icon-only" size="default" name="people-outline"></ion-icon>
                        <p class="textoIcono">{{ habitacion.cantMaxPersonas }} personas</p>
                      </div>
                    </span>
                  </ion-col>
                  <ion-col>
                    <span class="icono">
                      <div id="tipo">
                        <ion-icon slot="icon-only" size="default" name="expand-outline"></ion-icon>
                        <p class="textoIcono">{{ habitacion.tipo }}</p>
                      </div>
                    </span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
          <!--Con administrador logueado-->
          <ion-card *ngIf= " rol === 'admin' && (habitacion.estado === 'Activo' || habitacion.estado === 'Inactivo') " [routerLink] = "['../lista', habitacion.id]">
            <ion-img [src]="habitacion.imagen"></ion-img>
            <ion-card-header>
              <div>
                <h3>Habitación: {{ habitacion.numeroHabitacion }} <span id="precio">${{ habitacion.precioXNoche }} /noche</span></h3>
              </div>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <div>
                  {{ habitacion.descripcion }}
                </div>
                <ion-row>
                  <ion-col>
                    <span class="icono">
                      <div id="cantPersonas">
                        <ion-icon slot="icon-only" size="default" name="people-outline"></ion-icon>
                        <p class="textoIcono">{{ habitacion.cantMaxPersonas }} personas</p>
                      </div>
                    </span>
                  </ion-col>
                  <ion-col>
                    <span class="icono">
                      <div id="tipo">
                        <ion-icon slot="icon-only" size="default" name="expand-outline"></ion-icon>
                        <p class="textoIcono">{{ habitacion.tipo }}</p>
                      </div>
                    </span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
