ion-icon{
  padding: 10px
}
h3{
  color: grey;
}
span{
  color: #3880ff;
  font-size: 14px;
}
p{
  margin-top: 10px;
}
.icono{
  padding: 5px;
}
#precio{
  margin-left: 70px;
}
#cantPersonas{
  display: flex;
}
#tipo{
  display: flex;
}
.textoIcono{
  font-size: 10px;
}
