<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Lista de habitaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="habitaciones[0] !== undefined">
    <ion-card *ngFor="let habitacion of habitaciones" [routerLink] = "['../lista', habitacion.id]">
      <ion-img [src]="habitacion.imagen"></ion-img>
      <ion-card-header>
        <ion-card-title>Habitacion: {{ habitacion.numeroHabitacion }} - {{ habitacion.tipo }} -  {{ habitacion.ubicacion }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ habitacion.descripcion }}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
