<ion-header>
  <ion-toolbar>
    <ion-title color="primary">ParadiseResort.com</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="tabs/tab1/lista"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-img src="assets/images/Mediana.jpg"></ion-img>
    <div class="reserva">
      <h2>Tu reserva</h2>
      <div class="modulos">
        <ion-icon slot="icon-only" size="default" name="location-outline"></ion-icon>
        <ion-label>Ubicacion:</ion-label>
        <p>{{ habitacion.ubicacion }}</p>
      </div>
      <div class="modulos">
        <ion-icon slot="icon-only" size="default" name="expand-outline"></ion-icon>
        <ion-label>Tipo:</ion-label>
        <p>{{ habitacion.tipo }}</p>
      </div>
      <div class="modulos">
        <ion-icon slot="icon-only" size="default" name="people-outline"></ion-icon>
        <ion-label>Personas:</ion-label>
        <p>{{ habitacion.cantMaxPersonas}} personas</p>
      </div>
      <h2>Estancia</h2>
      <form [formGroup] = "form">
        <div class="modulos">
          <ion-icon slot="icon-only" size="default" name="calendar-number-outline"></ion-icon>
          <ion-label>Ingreso:</ion-label>
          <ion-datetime (ionChange)="deterNoche()" formControlName="fechaEntrada" placeholder="01/01/2021"></ion-datetime>
        </div>
        <div class="modulos">
          <ion-icon slot="icon-only" size="default" name="calendar-number-outline"></ion-icon>
          <ion-label>Salida:</ion-label>
          <ion-datetime (ionChange)="deterNoche()" formControlName="fechaSalida" placeholder="01/01/2021"></ion-datetime>
        </div>
      </form>
      <div class="modulos">
        <ion-icon slot="icon-only" size="default" name="moon-outline"></ion-icon>
        <ion-label>Noches:</ion-label>
        <p>{{ noches }} noches</p>
      </div>
      <h2>Detalle</h2>
      <div class="modulos">
        <ion-label>Subtotal:</ion-label>
        <p>${{ habitacion.precioXNoche }}</p>
      </div>
      <div class="modulos">
        <ion-label>Total:</ion-label>
        <p *ngIf="noches !== 0">${{ habitacion.precioXNoche * noches }}</p>
        <p *ngIf="noches === 0">${{ habitacion.precioXNoche }}</p>
      </div>
    </div>
    <ion-button class="buscar" expand="full" (click)="reservar()">Reservar</ion-button>
  </div>
</ion-content>
