<ion-header>
  <ion-toolbar>
    <ion-title>reservacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup] = "form">
    <ion-label position="floating">fecha de entrada</ion-label>
    <ion-input type="date" autocomplete autocorrect  formControlName="fechaEntrada"></ion-input>
    <ion-label position="floating">fecha de salida</ion-label>
    <ion-input type="date" autocomplete autocorrect  formControlName="fechaSalida"></ion-input>
    <ion-button (click) = "reservar()">Reservar</ion-button>
  </form>
</ion-content>
